{% extends "secu/base.html" %}

{% block content %}


<h3>Register</h3>

<form id=register_form class=pure-form-stacked action "" method=post>
  <!--{% csrf_token %}-->
  <div class="error">
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  </div>
    <label for=username>Username</label>
    <input type=text name=username>

    <label for=password>Password</label>
    <input type=password name=password />

    <p><input type=submit class=pure-button value=Register /></p>
</form>

{% endblock %}
