{% extends "secu/base.html" %}

{% block content %}
<h3>Transfer Bitbars</h3>

<form class="pure-form pure-form-stacked" action "" method="post">

  <div class="error">
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  </div>

  <p>
    You currently have {{ bitbars }} bitbars.
  </p>

  <label for="destination_username">Transfer to</label>
  <input type="text" name="destination_username">

  <label for="quantity">Amount</label>
  <input type="text" name="quantity"/>

  <p><input type="submit" class="pure-button button-primary" value="Transfer" /></p>
</form>

{% endblock %}
